*{
    margin-top: 0;
    padding-top: 0;
    
}


.btJogo0, .btJogo1{
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 100px;
    line-height: 100px;
   
    vertical-align: top;
    color:black;
}

button:disabled{
    border-color: black;
}

.btJogo2{
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 100px;
    line-height: 100px;
 
    vertical-align: top;
    color:black;
}

#bt02, #bt12, #bt22{
    
}